<div class="jumbotron" style="width:50%;">
  <fieldset>
    <legend>Login</legend>
    

      <% form_for(@usuario, '/sessions/create') do |f| %>
        <div class="form-group">
          <div class="form-group has-warning">
            <%= f.label :email, :class=>"control-label"%>
 	          <%= f.text_field :email, :required => "required", :class=>"form-control"%>
          </div>
          <div class="form-group has-warning">
            <%= f.label :password, :class=>"control-label"%>
            <%= f.password_field :password, :class=>"form-control" %>
          </div>
          <br/>
          <%= f.submit "<i class=\"icon-search icon-white\">face</i>".html_safe, :class => "btn btn-raised btn-warning" %>
        </div>
      <% end %>
    
  </fieldset>
</div>
