<legend>Rutinas</legend>
<% if $rutinas.length == 0 %>
	<div >
          <p>No tiene rutinas asociadas.</p>
    </div>
<% else%> 
	<table class="table table-striped">
		<tr class="header">
			<th>Descripcion</th>
			<th>Aclaracion</th>
			<th>Inicio</th>
			<th>Fin</th>
			<th>Acciones</th>
		</tr>
		<% $rutinas.each do | rutina| %>

		<tr>
			<td>
				<%= rutina['descripcion'] %>
			</td>
			<td>
				<%= rutina['aclaracion'] %>
			</td>
			<td>
				<%= rutina['inicio'] %>
			</td>
			<td>
				<%= rutina['fin'] %>
			</td>	
			<td>
				<center>
					<%= link_to '',url_for(:rutinas, :editar, :rutina_id => rutina['idWeb']), :title => "Editar rutina" , :class => "glyphicon glyphicon-pencil icon-orange" %>
					&nbsp;
					<%- form_tag url(:rutinas, :eliminar, :id_rutina => rutina['idWeb']), id: 'my_form', :method => :delete, :style => 'display:inline', :title => "Eliminar rutina" do %>
	                	<a href="javascript:{}" onclick="document.getElementById('my_form').submit(); return false;" class="glyphicon glyphicon-remove-sign icon-orange"></a>
	                <% end %>
	                &nbsp;
	                <%= link_to 'Agregar ejercicio',url_for(:ejercicios, :nuevo, :rutina_id => rutina['idWeb'], :carga => rutina['esDeCarga']), :class => "orange" %>
				</center>
			</td>			
		</tr>

	  <% end %>

	</table>                  
<% end %>

<a href="<%= url(:rutinas, :nuevo) %>" class="btn btn-warning btn-fab" title="Agregar rutina" style="float:right"><i class="material-icons">add</i></a>
