<div class="jumbotron" style="width:50%;">
  <fieldset>
    <legend style="text-align:center">Agregar rutina</legend>
   
      <% form_for(@rutinaDTO, '/rutinas/crear') do |f| %>
          <div class="form-group has-warning label-floating">
            <label class="control-label" for="focusedInput1">Descripción</label>
            <%= f.text_field :descripcion, id:"focusedInput1", :class=>"form-control", type: "text" , required: true %>
          </div>
          <div class="form-group has-warning label-floating ">
            <label class="control-label" for="focusedInput1">Nota/Aclaración</label>
            <%= f.text_field :aclaracion, :class=>"form-control", required: true %>
          </div>
          <div class="form-group has-warning label-floating" >
            <label class="control-label" for="focusedInput1">Fecha de inicio (dd-mm-aaaa)</label>
            <%= f.text_field :inicio, id:"datepickerInicio", :class => "col-lg-10 form-control date", type: "date", required: true %>
          </div>
          <div class="form-group has-warning label-floating ">
            <label class="control-label" for="focusedInput1">Fecha de fin (dd-mm-aaaa)</label>
            <%= f.text_field :fin, id:"datepickerFin",'data-behaviour'=>'datepicker',:class => "col-lg-10 form-control", type: "date", required: true %>
          </div>
          <div class="form-group has-warning label-floating ">
            <label class="control-label">Rutina de carga?</label>
            <%= f.check_box :esDeCarga, :class=>"form-control", placeholder: :esDeCarga %>
          </div>
            
            <br/>
            <%= f.submit "Crear" ,:class => "btn btn-raised btn-warning" %>
          </div>
      <% end %>
  </fieldset>
</div>

