<div class="jumbotron" style="width:50%;">
  <fieldset>
    <legend>Agregar rutina</legend>
   
      <% form_for(@rutinaDTO, '/rutinas/crear') do |f| %>
        <div class="form-group">
          <div class="form-group has-warning label-floating ">
            <label class="control-label" for="focusedInput1">Ingrese una descripción</label>
            <%= f.text_field :descripcion, id:"focusedInput1", :class=>"form-control", type: "text" , required: true %>
          </div>
          <div class="form-group has-warning label-floating ">
            <label class="control-label" for="focusedInput1">Ingrese una aclaración</label>
            <%= f.text_field :aclaracion, :class=>"form-control", required: true %>
          </div>
          <div class="form-group has-warning label-floating ">
            <label class="control-label" for="focusedInput1">Ingrese una fecha de inicio (dd-mm-aaaa)</label>
            <%= f.text_field :inicio, :class => "col-lg-10 form-control", type: "date", required: true %>
          </div>
          <div class="form-group has-warning label-floating ">
            <label class="control-label" for="focusedInput1">Ingrese una fecha de fin (dd-mm-aaaa)</label>
            <%= f.text_field :fin, 'data-behaviour'=>'datepicker',:class => "col-lg-10 form-control", type: "date", required: true %>
          </div>
          <div class="form-group has-warning label-floating ">
            <label class="control-label">Es de carga</label>
            <%= f.check_box :esDeCarga, :class=>"form-control", placeholder: :esDeCarga %>
          </div>
            
            <br/>
            <%= f.submit "Crear" ,:class => "btn btn-raised btn-warning" %>
          </div>
      <% end %>
  </fieldset>
</div>
