<div class="jumbotron" style="width:50%;">
  <fieldset>
    <legend>Editar usuario</legend>

		<% form_for(@usuario, "/usuarios/editar") do |f| %>
			<div class="form-group">
				<div class="form-group has-warning label-floating">
            		<label class="control-label">Nombre</label>
					<%= f.text_field :nombre, :class=>"form-control" , required: true %>
				</div>
				<div class="form-group has-warning label-floating">
            		<label class="control-label">E-mail</label>
			 		<%= f.text_field :email, :class=>"form-control", required: true %>
			 	</div>
			 	<div class="form-group has-warning label-floating">
            		<label class="control-label">Fecha de nacimiento (dd-mm-aaaa)</label>
			 		<%= f.text_field :fecha, :class => "col-lg-10 form-control", type: "date", required: true %>
			 	</div>
			 	<div class="form-group has-warning label-floating">
            		<label class="control-label">Ingrese su peso</label>
			 		<%= f.text_field :peso, :class=>"form-control", required: true %>
			 	</div>
			 	<div class="form-group has-warning label-floating">
            		<label class="control-label">Ingrese cantidad minima de pasos diarios</label>
			 		<%= f.text_field :cantidadMinimaPasos, :class=>"form-control", required: true %>
			 	</div>
			 	<div class="form-group has-warning label-floating">
            		<label class="control-label">Contraseña</label>
					<%= f.password_field :password, :class=>"form-control", required: true %>
				</div>
			  	<br/>
			  	<%= f.submit "Editar" ,:class => "btn btn-raised btn-warning" %>
			</div>
		<% end %>
  </fieldset>
</div>