<div class="jumbotron" style="width:50%;">
  <fieldset>
    <legend>Registro</legend>

		<% form_for(@usuario, 'usuarios/crear') do |f| %>
			<div class="form-group">
				<div class="form-group has-warning">

					<%= f.text_field :nombre, :class=>"form-control" , placeholder: :nombre, required: true %>
				</div>
				<div class="form-group has-warning">
			 		<%= f.text_field :email, :class=>"form-control", placeholder: :email, required: true %>
			 	</div>
			 	<div class="form-group has-warning">
			 		<%= f.text_field :fechaNacimiento, :class => "col-lg-10 form-control", placeholder: "fecha de nacimiento (dd-mm-aaaa)", type: "date", required: true %>
			 	</div>
			 	<div class="form-group has-warning">
			 		<%= f.text_field :peso, :class=>"form-control", placeholder: :peso, required: true %>
			 	</div>
			 	<div class="form-group has-warning">
					<%= f.password_field :password, :class=>"form-control", placeholder: "password",required: true %>
				</div>
			  	<br/>
			  	<%= f.submit "Crear" ,:class => "btn btn-raised btn-warning" %>
			</div>
		<% end %>
  </fieldset>
</div>
