<div class="jumbotron" style="width:50%;">
  <fieldset>
    <legend>Registrar usuario</legend>

		<% form_for(@usuario, 'usuarios/crear') do |f| %>
			<div class="form-group">
				<div class="form-group has-warning label-floating">
            		<label class="control-label">Ingrese su nombre</label>
					<%= f.text_field :nombre, :class=>"form-control" , required: true %>
				</div>
				<div class="form-group has-warning label-floating">
            		<label class="control-label">Ingrese su e-mail</label>
			 		<%= f.text_field :email, :class=>"form-control", required: true %>
			 	</div>
			 	<div class="form-group has-warning label-floating">
            		<label class="control-label">Ingrese su fecha de nacimiento (dd-mm-aaaa)</label>
			 		<%= f.text_field :fecha, :class => "col-lg-10 form-control", type: "date", required: true %>
			 	</div>
			 	<div class="form-group has-warning label-floating">
            		<label class="control-label">Ingrese su peso</label>
			 		<%= f.text_field :peso, :class=>"form-control", required: true %>
			 	</div>
			 	<div class="form-group has-warning label-floating">
            		<label class="control-label">Ingrese su contraseña</label>
					<%= f.password_field :password, :class=>"form-control", required: true %>
				</div>
			  	<br/>
			  	<%= f.submit "Crear" ,:class => "btn btn-raised btn-warning" %>
			</div>
		<% end %>
  </fieldset>
</div>
