
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fitness Time</title>
    <link rel="shortcut icon" type="image/png" href="../public/icono.ico"/>
    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap-material-design.css">
    <link rel="stylesheet" type="text/css" href="/assets/ripples.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/estilos.css">

<link rel="stylesheet" href="//fezvrasta.github.io/snackbarjs/dist/snackbar.min.css">

  <body>

    <div class="navbar navbar-warning">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to( "Fitness Time", "/", :class => "navbar-brand" ) %>
        </div>
        <div class="navbar-collapse collapse navbar-warning-collapse">
          <% if signed_in? %>
          <ul class="nav navbar-nav">
            <li><a href="<%= url(:rutinas, :all) %>">Rutinas</a></li>
            <li><a href="javascript:void(0)">Ejercicios</a></li>
            <li class="dropdown">
              <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Estadisticas
                <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="javascript:void(0)">Progresion de cargas</a></li>
                <li><a href="javascript:void(0)">Podometro</a></li>
                <li><a href="javascript:void(0)">Kilometros recorridos</a></li>
              </ul>
            </li>
          </ul>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown"><% if signed_in? %>
                  <%= current_token["emailUsuario"] %>
                <% else%> 
                  Usuarios
                <% end %>
                <b class="caret"></b></a>
                <ul class="dropdown-menu">
                <% if signed_in? %> 
                <li><%= link_to 'Modificar Usuario', url_for(:sessions, :destroy) %></li>
                 <li class="divider"></li>
                <li><%= link_to 'Cambiar contrase침a', url_for(:usuarios, :cambiarContrasenia) %></li>
                <li><%= link_to 'Ayuda', url_for(:sessions, :destroy) %></li>
                <li><%= link_to 'Cerrar sesi칩n', url_for(:sessions, :destroy) %></li>
                <% else%> 
                <li><%= link_to 'Iniciar sesi칩n', url_for(:sessions, :login) %></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="masthead">

        <div class="container">
             <%= [:error, :warning, :success, :notice].map { |type| flash_tag(type, :class => "alert alert-dismissible alert-danger fade in", :bootstrap => true) }.join.html_safe %>
     

            <%= yield %>

        </div>

        <!-- footer -->
        <div class="footer">
          <hr/>
          <p>Fitness Time by Moscheni Leandro and Skalic Juli치n | 2016</p>
        </div>

      </div>
    </div>

    <script src="//code.jquery.com/jquery-1.10.2.min.js">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
    <script src="dist/js/ripples.min.js">
    <script src="dist/js/material.min.js">
    <script src="//fezvrasta.github.io/snackbarjs/dist/snackbar.min.js">
    <script src="//cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.min.js">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/HubSpot/tether/v1.1.1/dist/js/tether.min.js"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/fezvrasta/bootstrap-material-design/v4-dist/js/bootstrap-material-design.iife.min.js"></script>
    <script>
      $('body').bootstrapMaterialDesign()
      $.material.init();
    </script>

    </body>
</html>
